<template>
    <header class="container">
        <Head>
            <Title>{{ title }}</Title>
            <Meta name="description" :content="description" />
            <Meta name="keywords" content="doodle, code, vue, progress bar, gradient" />
            <Meta name="author" content="Andrea Vos <andrea@avris.it>" />

            <Link rel="shortcut icon" href="/favicon.png" type="image/svg+xml"/>

            <Meta property="og:type" content="article" />
            <Meta property="og:title" :content="title" />
            <Meta property="og:url" :content="baseUrl" />
            <Meta property="og:image" :content="`${baseUrl}/banner.png`" />

            <Meta name="twitter:card" content="summary_large_image"/>
            <Meta name="twitter:title" :content="title"/>
            <Meta name="twitter:description" :content="description"/>
            <Meta name="twitter:image" :content="`${baseUrl}/banner.png`"/>

            <Script defer data-domain="progressbar.avris.it" src="https://plausible.avris.it/js/script.js"></Script>
        </Head>
        <hgroup>
            <h1>{{title}}</h1>
            <h2>{{description}}</h2>
        </hgroup>
        <p>
            I liked the way Wendover Productions displayed the HDI score in their video
            <a href="https://www.youtube.com/watch?v=W3qZIPiWKc4" target="_blank" rel="noopener">„The News You Missed in 2021”</a>,
            so of course I decided to create a widget like this for VueJS 😅
            <a href="https://avris.it/projects/code-doodle-gradient-progress-bar" target="_blank" rel="noopener">Check out the associated blog post</a>
            to read the code explained.
        </p>
        <nav>
            <ul>
                <li>
                    Links:
                </li>
                <li>
                    <a href="https://avris.it/projects/code-doodle-gradient-progress-bar" target="_blank" rel="noopener">
                        Blog post
                    </a>
                </li>
                <li>
                    <a href="https://gitlab.com/Avris/ProgressBar" target="_blank" rel="noopener">
                        Repository
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <section>
            <h2>
                Slider
            </h2>
            <p>
                Move the slider around and observe changes in the widget.
            </p>
            <AvrisProgressBar :value="v"/>
            <div style="text-align: center">{{ v }}</div>
            <input type="range" min="0" max="1000" v-model="v"/>
            <pre><code>&lt;AvrisProgressBar :value="v"/&gt;</code></pre>
        </section>
        <div class="grid">
            <section>
                <h2>
                    Static preview
                </h2>
                <AvrisProgressBar v-for="i in 26" :value="(i - 1) * 40"/>
                <pre><code>&lt;AvrisProgressBar v-for="i in 26" :value="(i - 1) * 40"/&gt;</code></pre>
            </section>
            <section>
                <h2>
                    Custom colours:
                    <span v-for="colour in customColours" class="colour-demo" :style="`background-color: ${colour}`"></span>
                </h2>
                <AvrisProgressBar v-for="i in 26" :value="(i - 1) * 40" :colours="customColours" style="--apb-border-width: 1px;"/>
                <pre><code>&lt;AvrisProgressBar v-for="i in 26" :value="(i - 1) * 40"
    :colours="['#000000', '#ff0000', '#ce80ea', '#00ff00', '#ffffff']"
    style="--apb-border-width: 1px;"/&gt;</code></pre>
            </section>
        </div>
    </main>
    <footer class="container">
        <small>
            Created by
            <a href="https://avris.it" target="_blank" rel="noopener">Andrea</a>
            using
            <a href="https://v3.nuxtjs.org/" target="_blank" rel="noopener">Nuxt3</a>
            and
            <a href="https://picocss.com"  target="_blank" rel="noopener">Pico</a>.

            Licensed under
            <a href="https://oql.avris.it/license?c=Andrea%20Vos%7Chttps://avris.it" target="_blank" rel="noopener">🏳️‍🌈 Opinionated Queer License</a>.
        </small>
    </footer>
</template>

<script>
export default {
    data() {
        return {
            title: 'Code Doodle: a gradient progress bar',
            description: 'A simple doodling project – probably not that useful, but I enjoyed creating it 🤷',
            baseUrl: 'https://progressbar.avris.it',

            v: 0,
            customColours: [
                '#000000',
                '#ff0000',
                '#ce80ea',
                '#00ff00',
                '#ffffff',
            ],
        }
    },
    mounted() {
        // dirty fix for some nuxt3 unstable version issue
        if (!process.client) { return; }
        setInterval(() => {
            const $el = document.querySelector('link[rel=prefetch][href$=".css"]');
            if ($el) {
                $el.setAttribute('rel', 'stylesheet');
            }
        }, 100);
    }
};
</script>

<style>
@import '@picocss/pico';

footer, header, main {
    padding: var(--block-spacing-vertical) 0;
}

.colour-demo {
    height: .6em;
    width: .6em;
    display: inline-block;
    border-radius: .2em;
    margin-right: .3em;
    border: 1px solid #aaa;
}
</style>
