<template>
    <div class="outer" :style="`background-color: ${colourOuter}`">
        <div class="inner" :style="`width: ${percent}%; background-color: ${colourInner}`"
             role="progressbar" :aria-valuenow="percent" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</template>

<script>
export default {
    props: {
        value: { required: true },
        min: { 'default': 0 },
        max: { 'default': 1000 },
        colours: { 'default': () => {
            return [
                '#ff0000',
                '#ffff00',
                '#00ff00',
            ];
        }}
    },
    methods: {
        hexToDec(hex) {
            return parseInt(hex, 16);
        },
        decToHex(dec) {
            return parseInt(dec, 10).toString(16).padStart(2, '0');
        },
        splitColour(colour) {
            return [
                this.hexToDec(colour.substring(1, 3)),
                this.hexToDec(colour.substring(3, 5)),
                this.hexToDec(colour.substring(5, 7)),
            ];
        },
        mergeColour(r, g, b) {
            return `#${this.decToHex(r)}${this.decToHex(g)}${this.decToHex(b)}`;
        },
        adjustValue(val, percent) {
            val = parseInt(val * (100 + percent) / 100);
            if (val > 255) { val = 255; }
            if (val < 0) { val = 0; }
            return val;
        },
        shadeColour(colour, percent) {
            const [r, g, b] = this.splitColour(colour);

            return this.mergeColour(
                this.adjustValue(r, percent),
                this.adjustValue(g, percent),
                this.adjustValue(b, percent),
            );
        },
        mixColours(colour1, colour2, ratio) {
            const [r1, g1, b1] = this.splitColour(colour1);
            const [r2, g2, b2] = this.splitColour(colour2);

            return this.mergeColour(
                r1 * ratio + r2 * (1 - ratio),
                g1 * ratio + g2 * (1 - ratio),
                b1 * ratio + b2 * (1 - ratio),
            );
        },
    },
    computed: {
        percent() {
            let percent = 100 * (this.value - this.min) / (this.range);
            if (percent < 0) { return 0; }
            if (percent > 100) { return 100; }
            return percent;
        },
        range() {
            return this.max - this.min;
        },
        coloursHighpoints() {
            const highpoints = {};
            const sectionRange = this.range / (this.colours.length - 1);
            for (let i in this.colours) {
                const point = parseInt(this.min + i * sectionRange, 10);
                highpoints[point] = this.colours[i];
            }
            return highpoints;
        },
        coloursBetween() {
            let left = null;
            let right = null;
            for (let val of Object.keys(this.coloursHighpoints)) {
                val = parseInt(val);
                if (val <= this.value) {
                    left = val;
                    continue;
                }
                right = val;
                break;
            }
            if (!right) {
                right = left;
            }
            return {left, right};
        },
        colourOuter() {
            const {left, right} = this.coloursBetween;
            const ratio = (this.value - left) / ((right - left) || 1);

            return this.mixColours(
                this.coloursHighpoints[left],
                this.coloursHighpoints[right],
                1 - ratio,
            );
        },
        colourInner() {
            return this.shadeColour(this.colourOuter, -30);
        },
    }
}
</script>

<style scoped>
.outer {
    --apb-height: 16px;
    --apb-border-width: 0px;
    --apb-border-color: #aaa;
}

.outer {
    width: 100%;
    border-radius: calc(var(--apb-height) / 2);
    height: var(--apb-height);
    margin: 4px;
    padding: calc(var(--apb-height) / 4 - var(--apb-border-width));
    display: inline-block;
    border: var(--apb-border-width) solid var(--apb-border-color);
}
.outer .inner {
    height: calc(var(--apb-height) / 2);
    border-radius: calc(var(--apb-height) / 2);
}
</style>
